/* light scheme */
:root[color-mode="light"] {
  --bg-body: #f9f8f4; 
  --bg-color: #f4f0e6;
  --color-text-base: #2c2c2c;
  --color-text-sub: #5f5f5f;
  --color-text-md-title: #1a1a1a;
  --color-text-md-content: #2c2c2c;
  --color-text-a: #666;
  --color-text-a-hover: #000000;
  --color-text-a-active: #000000;
  --color-text-md-code: #CC0000;
  --bg-text-md-code: #f8f8f8;
  --bg-block-md-quote: #EEEEEE;
  --color-block-md-quote: #555555;
  --color-divider-md-border: #e0ded5;
  --bg-content-search: #ffffff;
  --bg-block-md-pre: #efebe0;
  --color-text-md-pre: #2c2c2c;
  --bg-block-md-table: #ffffff;
  --bg-block-md-table-2: #faf8f5;
  --color-border-md-table: #dcd9ce;
  --bar-color: #f9f8f4;
  --bar-color-active: #eae6da;
  --bar-txt: #575551;
  --bar-txt-active: #575551;
}

/* dark scheme */
:root[color-mode="dark"] {
  --bg-body: #f9f8f4; 
  --bg-color: #f4f0e6; /* 侧边或强调背景稍深一点 */

  /* --- 文字：深炭灰色，比纯黑柔和 --- */
  --color-text-base: #2c2c2c;
  --color-text-sub: #5f5f5f;
  --color-text-md-title: #1a1a1a;
  --color-text-md-content: #2c2c2c;

  /* --- 链接：深赭石色/砖红色 (作为强调色，呼应Logo里的红色) --- */
  --color-text-a: #666;
  --color-text-a-hover: #000000;
  --color-text-a-active: #000000;

  /* --- 代码与引用 --- */
  --color-text-md-code: #CC0000;
  --bg-text-md-code: #f8f8f8;
  --bg-block-md-quote: #EEEEEE;
  --color-block-md-quote: #555555;
  
  --color-divider-md-border: #e0ded5;
  --bg-content-search: #ffffff;

  /* --- 表格 --- */
  --bg-block-md-pre: #efebe0;
  --color-text-md-pre: #2c2c2c;
  --bg-block-md-table: #ffffff;
  --bg-block-md-table-2: #faf8f5;
  --color-border-md-table: #dcd9ce;

  /* --- 导航栏 --- */
  --bar-color: #f9f8f4;
  --bar-color-active: #eae6da;
  --bar-txt: #575551;
  --bar-txt-active: #575551;
}
